/* Transition Box Example */

.transition-box {
    width: 100px;
    height: 100px;
    background-color: goldenrod;
    transition: width 4s ease-in-out, height 4s ease-in-out, 
    background-color 4s ease-in-out;
}

.transition-box:hover {
    width: 200px;
    height: 200px;
    background-color: burlywood;
}

/* Animation Example */

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animation-box {
    width: 100px;
    height: 100px;
    background-color: green;
    animation: rotate 2s linear infinite;
}