*{
    margin: 0;
    width: 100%;
    height: 100%
}

.class_box {
    max-width: 2000px;
    height: 50%;
    background-color: mediumpurple;
}

.class_box {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border: 2px solid mediumpurple;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.item {
    width: 200px;
    padding: 20;
    text-decoration: none;
    color: whitesmoke;
    text-align: center;
    font-family: Verdana, sans-serif

}

@media and screen (max-width: 600px) {
    .class_box {
        flex-direction: column;
    }

    .navbar {
        width: 100%;
    }

}